* {
	margin: 0;
	padding: 0;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
}

body {
	font-size: 12px;
	background-image: url(http://static.fanfou.com/img/bg/3.jpg);
	background-repeat: repeat;
	background-position: top left;
}

div {
	display: block;
}

h2 {
	font-size: 16px;
}
a {
	color: #990000;
	text-decoration:none;
}
a:hover{
	txt-decoration:underline;
}
textarea {
	padding: 4px;
	overflow: auto;
}

#container {
	margin: 0 auto;
	width: 775px;
}

#header {
	float: none;
	position: relative;
	width: 100%;
	padding: 1em 0;
}

#header p {
	float: left;
	width: 203px;
	width: 244px;
	height: 42px;
	background: transparent
		url(http://static2.fanfou.com/img/fanfou_beta.png) 0 0 no-repeat;
}

#navigation {
	float: right;
	margin-top: 7px;
	padding: 7px 15px;
	background-color: #FFFFFF;
	border-radius: 5px;
}

#navigation span {
	text-decoration: none;
	padding: 2px 7px;
	font-size: 14px;
}

#navigation a {
	text-decoration: none
}

#navigation a:link {
	color: #990000;
}

#navigation a:visited {
	color: #990000;
}

#navigation a:hover {
	color: #fff;
	background-color: #990000;
}

#navigation a:active {
	
}

#header:after {
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

#core {
	/* clear:both;
 */
	
}

#core:after {
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

#main {
	width: 500px;
	padding: 20px;
	background: #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	/* clear:both;
	 */
}

#sidebar {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 219px;
	/* height:auto; */
	margin: auto;
	padding: 20px 0 20px 15px;
	background: #c0c0c0;
	float: left;
	padding: 20px 0 20px 15px;
}

.clear {
	clear: both;
}

#sysnotice {
	margin: 0 0 10px;
	padding: 5px 10px;
	background: #fffcaa;
	/* clear: both; */
}

#statusUpdate {
	margin: 0 0 10px;
}

#status {
	width: 482px;
	height: 22px;
	font-size: 14px;
	resize: none;
	box-shadow: 0 0 1px #AAA inset;
	border: 1px solid #b9bcbe;
}

#timeline-notification {
	margin: 0 0 10px;
	padding: 6px 12px;
	background: #fffcaa;
	/* clear: both; */
}

.fan {
	font-size: 14px;
	word-wrap: break-word;
	padding: 9px 50px 12px 62px;
}

.fan .text {
	display: inline;
}

.avatar img {
	display: block;
	float: left;
	margin-left: -59px;
	margin-top: 3px;
	vertical-align: middle;
	heght: 48px;
	width: 48px;
}

a.author {
	float: left;
	color: #990000;
	/* text-decoration:none; */
	margin-right: 0.3em;
}
.stamp{
	display:block;
	margin-top:3px;
	color:#999;
	font-size:12px;
}
.fan span.op {
	display:block;
	right:5px;
	/* position:absolute; */
	top:2px;
	visibility:hidden;
}

.fan:hover span.op {
	visibility: visible;
	z-index: 1;
}

.fan:after {
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}
#user-top{
	margin-bottom:12px;
}
#user-top a{
	display:block;
	float:left;
	margin-right:10px;
	height:32px;
	width:32px;
}
#user-top a img{
	height:32px;
	width:32px;
}

#nick-name{
	font-size:18px;
	display:block;
	line-height:32px;
}
#reminder {
    margin-bottom: 15px;
    margin: 10px 0;
}
#reminder a{
	padding: 2px 3px 1px 8px;
	border-bottom: 2px solid #ffed00;
	background:#fffcaa;
}
#user-status{
	padding-top:10px;
	width:216px;
	margin-bottom:15px;
}
#user-status:after {
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}
.usc:not(:first-child){
	border-left:1px solid #000000;
}
.usc{
	
	display:block;
	float:left;
	width:60;
	margin: 0 8px 0 -7px;
	padding: 0 4px 0 6px;
}
.usc .count{
	display:block;
	color:#000000;
	font-size:20px;
	font-family:"Times New Roman",Times,serif;
	font-weight:bold;
}
.usc a:hover .count{
	color: #990000;
}
.usc .label{
	display:block;
	font-size:12px;
	
}
#good-app{
	clear:both;
	width: 204px;
    margin-bottom: 15px;
    background: #fff;
	border-radius: 5px;
}
#good-app a{
	padding:6px 10px;
	    display: block;
}
#good-app strong{
	display: block;
	font-weight: bold;
	line-height: 17px;
}
#good-app span{
	display: block;
	padding-top: 2px;
	color:#403333;
	line-height: 135%;
}
#stabs{
	margin-left:-15px;
	font-size:14px;
}
#stabs ul li{
	list-style-type:none;
	margin-bottom:1px;
	line-height:28px;
}

#stabs ul li a{
	padding-left:15px;
	font-weight:bold;
}
#stabs li.current{
		
	background:#E5E4E4;
}
#stabs li.current a{
		color:#403333;
}

#search{
	position:relative;
	height:36px;
	margin:0 0 8px -15px;
}
#search-form{
	position:absolute;
	top:5px;
	left:15px;
	width:204px;
	height:26px;
}
#search-input{
	float:left;
    width:158px;
    height: 16px;
    padding:4px 0;
    border:1px solid #999;
    border-right:0;
    background:#fff;
    font-size:14px;
    line-height: 16px;
    text-indent: 5px;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#search-submit{
	float:left;
    width:45px;
    height:26px;
    border:1px solid #999;
    background:#fff;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#saved-searchs{
	border-bottom-color:#000000;
	position: relative;
	margin-left: -15px;
	margin-bottom:1em;
	padding-bottom:.5em;
	font-size:14px;
}
#saved-searchs h2{
	margin-left:15px;
	
}
#sidebar h2{
	font-size:14px;
	margin-bottom:.5em;
	opacity: .7;
}

#saved-searchs ul li{
	list-style-type: none;
    margin-bottom: 1px;
    line-height: 28px;
}
#saved-searchs a{
	padding-left:15px;
    font-weight: bold;
}

#sidebar li:hover a{
	text-decoration:underline;
}
#sidebar li:hover{
	background-color:#E5E4E4;
}